
<h2>NCR TABLES</h2>
<table>
  <thead>
  <tr>
    <th>Names</th>
  </tr>
  </thead>
  <tbody>
  <% @client.execute("SELECT name FROM sys.tables").each do |rs| %>
      <tr>
        <td><%= link_to rs["name"], ncr_table_path(rs["name"]), :target => '_blank' %></td>
      </tr>
  <% end %>
  </tbody>
</table>